{% sw_extends '@Storefront/storefront/page/checkout/cart/index.html.twig' %}

{% block page_checkout_cart_table_header %}{% endblock %}

{% block page_checkout_aside %}{% endblock %}

{% block page_checkout_cart_add_product_and_shipping %}
    <div class="checkout-cart-footer d-flex justify-content-end flex-wrap">
        <div class="checkout-cart-promotion">
        {% block page_checkout_cart_add_promotion %}
            <form action="{{ path('frontend.checkout.promotion.add') }}"
                class="cart-add-promotion"
                data-form-csrf-handler="true"
                method="post">

                {% block page_checkout_cart_add_promotion_csrf %}
                    {{ sw_csrf('frontend.checkout.promotion.add') }}
                {% endblock %}

                {% block page_checkout_cart_add_promotion_forward %}
                    <input type="hidden"
                        name="forwardTo"
                        value="frontend.checkout.cart.page">
                {% endblock %}

                {% block page_checkout_cart_add_promotion_input_group %}
                    <div class="input-group checkout-aside-add-code">
                        {% block page_checkout_cart_add_promotion_label %}
                            <label class="sr-only" for="addPromotionInput">
                                {{ "checkout.addPromotionLabel"|trans|sw_sanitize }}
                            </label>
                        {% endblock %}

                        {% block page_checkout_cart_add_promotion_input %}
                            <input type="text"
                                name="code"
                                class="form-control"
                                id="addPromotionInput"
                                placeholder="{{ "checkout.addPromotionPlaceholder"|trans|striptags }}"
                                aria-label="{{ "checkout.addPromotionLabel"|trans|striptags }}"
                                aria-describedby="addPromotion"
                                required="required">
                        {% endblock %}

                        {% block page_checkout_cart_add_promotion_submit %}
                            <div class="form-group-discount-send">
                                <button class="btn"
                                        type="submit"
                                        id="addPromotionOffcanvasCart">
                                    <img src={{asset('/bundles/cellvitaltheme/assets/arrow-right.svg')}} alt="send">
                                </button>
                            </div>
                        {% endblock %}
                    </div>
                {% endblock %}
            </form>
        {% endblock %}
        </div>
        <div class="checkout-cart-total">
            <span>Total</span>
            <h4>{{page.cart.price.positionPrice|currency}}</h4>
        </div>

        <div class="offcanvas-cart-actions-wrapper">
            <a href="{{ path('frontend.checkout.confirm.page') }}"
                class="btn begin-checkout-btn"
                title="{{ "checkout.proceedToCheckout"|trans|striptags }}">
                {{ "checkout.proceedToCheckout"|trans|sw_sanitize }}
            </a>
        </div>
    </div>
{% endblock %}