{% sw_extends "@Storefront/storefront/page/checkout/checkout-item.html.twig" %}

{% block page_checkout_item_container %}
    <div class="d-flex align-items-center position-relative mb-4">
        <div class="checkout-image-container">
            {% block page_checkout_item_info_image_container %}{{parent()}}{% endblock %}
        </div>
        <div class="checkout-detail-container">
            <div>
                {% block page_checkout_item_info_label %}{{parent()}}{% endblock %}
            </div>
            <div class="checkout-quantity-form">
                {% block page_checkout_item_quantity_form %}{{parent()}}{% endblock %}
            </div>
            <div class="checkout-price">
                {% block page_checkout_item_unit_price_label %}{% endblock %}
                {% block page_checkout_item_unit_price_wrapper %}{{parent()}}{% endblock %}
            </div>
        </div>
        <div class="checkout-remove-form">
            {% block page_checkout_item_remove_form %}{{parent()}}{% endblock %}
        </div>
    </div>
{% endblock %}