{% sw_extends '@Storefront/storefront/block/cms-block-image-text.html.twig' %}

{% block block_image_text %}
    <div class="col-12">
    <h2 class="cvp-article-title">Articles</h2>
    <article class="cvp-article">
        <div class="cvp-arcticle-content" id="accordionExample">
            <div class="cvp-article-item d-flex">
                <div class="cvp-article-step" data-toggle="collapse" data-target="#collapseOne"></div>
                <div id="headingOne">
                    <h5 data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Why do we age?</h5>
                    <div class="collapse show" id="collapseOne" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <p class="cvp-article-item-text">
                            Definition of aging process = the decrease in the adaptability of our body = the decrease in the vitality (vitality) of our body cells. In the lexicon of biology (Spektrum Verlag), aging is defined as follows: "Even the term" aging "itself is fuzzy and - used in everyday language...
                        </p>
                        <a class="cvp-article-item-link" href="#">Link <img src={{asset('/bundles/cellvitalplatformtheme/assets/arrow-right.svg')}} ></a>
                    </div>
                </div>
            </div>
            <div class="cvp-article-item d-flex">
                <div class="cvp-article-step collapsed" data-toggle="collapse" data-target="#collapseTwo"></div>
                 <div id="headingTwo">
                    <h5 data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">The cell</h5>
                    <div class="collapse" id="collapseTwo" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <p class="cvp-article-item-text">
                            Definition of aging process = the decrease in the adaptability of our body = the decrease in the vitality (vitality) of our body cells. In the lexicon of biology (Spektrum Verlag), aging is defined as follows: "Even the term" aging "itself is fuzzy and - used in everyday language...
                        </p>
                        <a class="cvp-article-item-link" href="#">Link <img src={{asset('/bundles/cellvitalplatformtheme/assets/arrow-right.svg')}} ></a>
                    </div>
                 </div>
            </div>
             <div class="cvp-article-item d-flex">
                <div class="cvp-article-step collapsed" data-toggle="collapse" data-target="#collapseThree"></div>
                 <div id="headingThree">
                    <h5 data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">The Pro Aging Trance</h5>
                    <div class="collapse" id="collapseThree" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <p class="cvp-article-item-text">
                            Definition of aging process = the decrease in the adaptability of our body = the decrease in the vitality (vitality) of our body cells. In the lexicon of biology (Spektrum Verlag), aging is defined as follows: "Even the term" aging "itself is fuzzy and - used in everyday language...
                        </p>
                        <a class="cvp-article-item-link" href="#">Link <img src={{asset('/bundles/cellvitalplatformtheme/assets/arrow-right.svg')}} ></a>
                    </div>
                 </div>
            </div>
             <div class="cvp-article-item d-flex">
                <div class="cvp-article-step collapsed" data-toggle="collapse" data-target="#collapseFour"></div>
                 <div id="headingFour">
                    <h5 data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">Cellvital: the secret</h5>
                    <div class="collapse" id="collapseFour" aria-labelledby="headingFour" data-parent="#accordionExample">
                        <p class="cvp-article-item-text">
                            Definition of aging process = the decrease in the adaptability of our body = the decrease in the vitality (vitality) of our body cells. In the lexicon of biology (Spektrum Verlag), aging is defined as follows: "Even the term" aging "itself is fuzzy and - used in everyday language...
                        </p>
                        <a class="cvp-article-item-link" href="#">Link <img src={{asset('/bundles/cellvitalplatformtheme/assets/arrow-right.svg')}} ></a>
                    </div>
                 </div>
            </div>
             <div class="cvp-article-item d-flex">
                <div class="cvp-article-step collapsed" data-toggle="collapse" data-target="#collapseFive"></div>
                 <div id="headingFive">
                    <h5 data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">The magnetic field - meaning for people</h5>
                    <div class="collapse" id="collapseFive" aria-labelledby="headingFive" data-parent="#accordionExample">
                        <p class="cvp-article-item-text">
                            Definition of aging process = the decrease in the adaptability of our body = the decrease in the vitality (vitality) of our body cells. In the lexicon of biology (Spektrum Verlag), aging is defined as follows: "Even the term" aging "itself is fuzzy and - used in everyday language...
                        </p>
                        <a class="cvp-article-item-link" href="#">Link <img src={{asset('/bundles/cellvitalplatformtheme/assets/arrow-right.svg')}} ></a>
                    </div>
                 </div>
            </div>
        </div>
        <div class="cvp-arcticle-image">
            <img src={{asset('/bundles/cellvitalplatformtheme/assets/article-image.png')}} alt="article" />
        </div>
    </article>
{% endblock %}