{% block block_contact %}
	<div class="col-12">
		<h2 class="block-contact-title">Contact</h2>
		<div class="row">
			<div class="col-md-4 block-contact-aside">
				{% block block_contact_profile %}
					<div class="block-contact-profile">
						<div class="block-contact-profile-avatar">
							<img src={{asset('/bundles/cellvitalplatformtheme/assets/avatar.png')}} alt="avatar"/>
						</div>
						<div class="block-contact-profile-info">
							<h3 class="block-contact-profile-name">DR. MED. ALEXANDRA DOPPLINGER</h3>
							<a href="#" class="block-contact-profile-link">learn more</a>
						</div>
					</div>
				{% endblock %}
				{% block block_contact_link %}
					<div class="block-contact-link">
						<a href="tel:+43 (660) 103-3911"><img src={{asset('/bundles/cellvitalplatformtheme/assets/phone-icon.svg')}} alt="phone number"/><p class="mb-0">+43 (660) 103-3911</p>
						</a>
						<a href="mailto:ordination@orthoplus-gmunden.at"><img src={{asset('/bundles/cellvitalplatformtheme/assets/email-icon.svg')}} alt="email"/><p class="mb-0">ordination@orthoplus-gmunden.at</p>
						</a>
						<a href="https://goo.gl/maps/euBdgpiVN5bTsXNLA"><img src={{asset('/bundles/cellvitalplatformtheme/assets/location-icon.svg')}} alt="location"/><p class="mb-0">Franz-Josef-Platz 16, A-4810 Gmunden</p>
						</a>
					</div>
				{% endblock %}
			</div>
			<div class="col-md-8">
				<div class="block-contact-map">
					<img src={{asset('/bundles/cellvitalplatformtheme/assets/contact-map.png')}} alt="contact map" />
				</div>
			</div>
		</div>
	</div>
{% endblock %}
